@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav,
.fondo {
  background-color: #000000;
  background-image: linear-gradient(180deg, #000000 0%, #2d2d2d 100%);
}
.main-content {
  flex-grow: 1;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23020202' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23040404' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23060606' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23080808' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%230a0a0a' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%230c0c0c' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%230e0e0e' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%230f0f0f' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23111111' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23121212' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23131313' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23141414' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23161616' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23171717' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23181818' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23191919' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%231A1A1A' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
footer {
  background-color: #000000;
  background-image: linear-gradient(0deg, #000000 0%, #2d2d2d 100%);
  text-align: center;
  color: aliceblue;
  width: 100%;
}
.whiteNavLink {
  color: aliceblue;
  text-decoration: none;
  margin-right: 15px;
}
.whiteNavLink:hover {
  color: rgb(170, 170, 170);
  transition: 200ms;
}
.linkFooter {
  text-decoration: none;
  color: aliceblue;
}
.linkFooter:hover {
  text-decoration: underline;
  transition: 200ms;
  color: rgb(170, 170, 170);
}
.wp,
.fb {
  color: aliceblue;
}
.wp:hover {
  color: #00c91b;
  transition: 300ms;
}
.fb:hover {
  color: #0b6dee;
  transition: 300ms;
}
.carr {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}
.widthBuscador{
  width: 35%;
}
.card img {
  width: 100%;
  aspect-ratio: 6/5;
  object-fit: contain; 
}
.sombra {
  box-shadow: 0px 1px 20px 9px rgba(192, 192, 192, 0.82);
  -webkit-box-shadow: 0px 1px 20px 9px rgba(175, 175, 175, 0.82);
  -moz-box-shadow: 0px 1px 20px 9px rgba(134, 134, 134, 0.82);
}
.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  max-width: 400px;
}
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  max-width: 400px;
}
.preciosClass{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.widthButton{
  width: 120px;
}
@media (min-width: 992px) {
  .displayNone {
    display: none;
  }
}
@media (max-width: 991px) {
    .margenLogo {
      margin-bottom: 15px;
    }
    .margenNavLinks{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .carr {
      height: 50vh
    }
    .widthBuscador{
      width: 50%;
    }
  }
@media (max-width: 767px){
  .widthBuscador{
    width: 75%;
  }
}
@media (max-width: 427px){
  .preciosClass{
    display: block;
    text-align: center;
  }
}
